
/* page background */
.container {
    background-color: rgb(245, 252, 254);
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

/* both sides (left and right) */
.page-row {
    display: flex;
}

.left-col, .right-col {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    min-height: 95vh;
}

/* options bar (left)*/
.left-col {
    margin-right: 5px;
    background-color: #EAEAEA;
    width: 17%;
}

.top-text-container {
    margin: 0 auto;
    min-width: 100%;
    padding-left: 12%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #636363;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-text-container, .text-container {
    min-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#option-button-selected, #option-button {
    min-width: 100%;
    text-align: left;
}

.button-container {
    min-width: 85%;
}

#option-button,#option-button-selected {
    transition: background 0.2s, color 0.2s;
}

#option-button:hover,
#option-button-selected:hover {
    background: #000000;
    color: #EAEAEA;
}

#option-button-selected:hover {
    transform: scale(1.02);
}


/* content area (right) */
.right-col {
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 83%;
}

.right-col .card-header {
    padding-top: 10px;
    padding-left: 15px;
}

