
.return-container {
    margin-top: 20px;
    text-align: left;
}

badge {
    padding: 10px;
}

.details-container {
    border-top: 1px solid #636363;
    padding: 10px;
}

.table-container {
    border: 1px solid #636363;
    border-radius: 10px;
    padding: 10px;
}

.history_table {
    border: 1px solid black;
}