
.customers-table-container {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-container {
    max-width: 50%;
}

input[type="text"] {
    background-color: #f9f9f9;
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

#top-button {
    margin-left: 5px;
    transition: background 0.2s, color 0.2s;
}

#top-button:hover {
    background-color: #0f0f0f;
    color: white;
    cursor: pointer;
}

.bar-row {
    display: flex;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

table.table {
    border: 1px solid #dee2e6;
    border-top: 1px solid #636363;
}

.card {
    padding: 10px;
    text-align: center;
}

.table-container {
    height: 300px;
}

.card, .customers-table-container {
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    transform: scale(1.001);
}

.customers-table-container:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    transform:  scale(1.001);
}

#detail-button {
    transition: background 0.4s, color 0.4s;
}

#detail-button:hover {
    transform: scale(1.03);
    cursor: pointer;
}

td.positive {
    color:  #27AC49;
}